Two[[:space:]]Scoops[[:space:]]of[[:space:]]Django[[:space:]]3.x[[:space:]](Daniel[[:space:]][[:space:]]Audrey[[:space:]]Feldroy)[[:space:]](z-lib.org).pdf filter=lfs diff=lfs merge=lfs -text
ODAC121024Xcopy_x64.zip filter=lfs diff=lfs merge=lfs -text
